<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        @import url("css/index.css");
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <title>포트폴리오</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="Salfia.co">Home</a></li>
        <li>About me</li>
        <li>Portfolio</li>
        <li>Blog</li>
        <li>Contact me</li>
        <li class="slide"></li>
    </ul>
</nav>
<section>
    <div class="title"><span>Yoo Yong Jae</span><span>도커와 쿠버네티스를 좋아하는<a target="_blanck" href="salfia.com">Web Developer</a></span>
    </div>
</section>
</body>
</html>